.site-footer {
    background: url('#{$path-images}/bg_plantes.svg');
    background-size: cover;
    padding: 75px 0;

    .wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left, .right{
            background: rgba(255, 255, 255, 0.8);
            padding: 50px;
        }

        .left{
            h3, p{
                font-family: $font-tertiary;
            }
            h2{
                font-size: 30px;
            }

            p{
                font-size: 18px;
            }

            .contact{
                margin-top: 30px;

                p{
                    font-family: $font-primary;
                    font-size: 14px;
                }
            }
        }

        .right{
            .logos{
                display: flex;
                align-items: center;

                img{


                    &:nth-child(2){
                        margin: 0 30px;
                    }
                }
            }
        }
    }
}