//Boutique
.shop{
    &-head{
        margin-top: 100px;

        h1{
            //font-family: $font-quaternary;
        }

        .categories{
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 50px;
            padding: 60px 0 0;

            &:before{
                content:"";
                position: absolute;
                top: 0;
                left: -7.5vw;
                width: calc(100% + 11.25vw);
                height: calc(100% - 11vw);
                border-bottom-right-radius: 100px;
                background: $green-light;
            }

            .cat-item{
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                align-items: center;

                .img-wrap{
                    aspect-ratio: 1/1;
                    padding: 20px;
                    background: rgba(255,255,255,.8);
                }

                h2{
                    margin-top: 20px;
                    font-family: $font-primary;
                    font-size: 20px;
                    padding: 10px 20px;
                    background: #fff;
                    border-radius: 50px;
                    text-transform: uppercase;
                    display: inline-flex;
                    max-width: 209px;
                    line-height: 1.4;
                    text-align: center;
                    width: max-content;
                    height: 76px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &-listing{
        margin: 100px 0;

        .cat{
            margin-top: 100px;

            &:first-of-type{
                margin-top: 0;
            }
            h2{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 26px;
                border-bottom: 1px solid;
                padding-bottom: 16px;
                margin-bottom: 50px;
            }
        }

        .cat-listing{
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 50px;

            .prod-item{

                &:hover{
                    .prod-meta{
                        .addToCart{
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }

                .img-wrap{
                    display: block;
                    position: relative;
                    height: 0;
                    padding-bottom: 120%;
                    background: rgba(255,255,255,.8);

                    img{
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        height: calc(100% - 40px);
                        width: calc(100% - 40px);
                        
                    }
                }

                .prod-meta{
                    background: #fff;
                    display: grid;
                    grid-template-columns: minmax(max-content, calc(100% - 100px)) minmax(0, 100px);
                    grid-template-areas: 
                    "title price"
                    "cart cart";
                    padding: 0 20px 20px;
                    position: relative;

                    .prod-title{
                        grid-area: title;
                        display: flex;
                        flex-direction: column;

                        h3{
                            font-size: 24px;
                            margin-bottom: 10px;
                        }

                        span{
                            font-size: 16px;
                        }
                    }

                    .prod-price{
                        grid-area: price;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        span{
                            text-align: center;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }

                    .addToCart{
                        grid-area: cart;
                        position: absolute;
                        right: -20px;
                        bottom: -60px;
                        height: 40px;
                        background: $green;
                        opacity: 0;
                        pointer-events: none;
                        cursor: pointer;
                        transition: opacity .6s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

//Catégories
.cat{
    &-head{

    }

    &-listing{
        .container{
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 50px;
        }
    }
}

//Produit
.prod{
    &-main{
        .product_title.entry-title, .product_meta{
            display: none;
        }

        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .prod-img{
                max-width: 500px;
            }

            .prod-desc{
                max-width: 600px;
            }
        }
    }
}