.home{
    &-news{
        background: url('#{$path-images}/thes.png');
        background-size: cover;
        padding: 150px 0;
        min-height: 500px;

        .news-bloc{
            width: 100%;
            max-width: 800px;
            background: #eee;
            padding: 50px;
            margin-left: auto;
        }
    }

    &-about{
        padding: 100px 0;

        h1{
            text-align: right;
            margin-bottom: 75px;
        }

        .wrapper{
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: flex-start;

            &:before{
                content: "";
                position: absolute;
                top: -75px;
                left: -7.5vw;
                border-bottom-right-radius: 200px;
                background: $yellow;
                height: 100%;
                width: 34vw;
            }


            .img-wrap{
                position: relative;
                background: rgba(255, 255, 255, .8);
                padding: 20px;
                z-index: 2;
                aspect-ratio: 1;
                max-width: 350px;
                min-width: 300px;

                img{

                }
            }

            .about-content{
                position: relative;
                background: #fff;
                max-width: 900px;
                margin-left: 50px;
                padding: 30px 8vw;
                box-shadow: -2px 2px 20px rgba(0,0,0, .15);
                z-index: 2;

                p{
                    text-align: center;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 30px;

                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }

                .handw{
                    display: block;
                    font-size: 38px;
                    margin: 20px 0 0;
                    text-align: center;
                    color: #444;
                }
            }
        }
    }
}